<h2 id="city-name">{{name}}</h2>
<div class="weather-details">
  <p id="temperature">{{temp}}°C</p>
  <p id="description">{{descr}}</p>
  <p id="humidity">Вологість: {{humidity}}%</p>
  <p id="wind">Вітер: {{wind}} м/с</p>
</div>
<div class="weather-icon">
  <img id="weather-icon" src="{{weatherImage}}" alt="{{descr}}" />
</div>

{{!-- 
    <section class="box-2">
        <img src="https://via.assets.so/img.jpg?w=100&h=100&tc=#ffffff&bg=#cccccc" alt="Placeholder" class="weather-img"></img>
        
    </section> --}}